$mid-margin: 1rem;

.career-wrap {
  position: relative;
  margin-top: 1.5rem;

  ul {
    li {
      display: flex;
      justify-content: center;
      align-items: center;

      .company-img {
        margin-right: $mid-margin;
      }
      .company-info {
        margin-left: $mid-margin;

        p {
          color: #fff;
          margin: 0.5rem;
        }

        .name {
          font-size: 1.5rem;
        }
        .team {
          font-size: 1.3rem;
        }
        .work {
          font-size: 1.2rem;
        }
      }
    }
  }
}
