.skill-wrap {
  padding: 1rem;
}

.skill-division-wrap {
  margin-bottom: 3rem;
}

.skill-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  white-space: nowrap;
  color: rgba($color: #fff, $alpha: 1);
}
.skill-item {
  &:first-of-type {
    margin-left: 0;
  }
  margin-left: 1rem;
}
