// pg wrap
div.skill-pagination-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 0;

  z-index: 99;

  .skill-pagination-bullet {
    padding: 1rem;

    font-size: 1.5rem;
    white-space: nowrap;
    color: rgba($color: #fff, $alpha: 0.3);

    border-radius: 1rem;
    border: 1px solid transparent;
    transition: all 0.5s;

    cursor: pointer;

    &:hover {
      color: rgba($color: #fff, $alpha: 1);
      border-color: #fff;
    }

    &.skill-pagination-bullet-active {
      color: rgba($color: #fff, $alpha: 1);
    }
  }
}

// swiper wrap
.skill-swiper {
  min-height: 50%;
  .swiper-wrapper {
    height: 100%;
  }
  .swiper-slide {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;

    .skill-item {
      padding: 1rem;
    }
  }
}
