// pg wrap
div.skill-pagination-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;

  z-index: 99;

  .skill-pagination-bullet {
    padding: 1rem;

    font-size: 1.5rem;
    white-space: nowrap;
    color: rgba($color: #fff, $alpha: 0.3);

    border-radius: 1rem;
    border: 1px solid transparent;
    transition: all 0.5s;

    cursor: pointer;

    &:hover {
      color: rgba($color: #fff, $alpha: 1);
      border-color: #fff;

      background: linear-gradient(
        121deg,
        rgba(255, 255, 255, 0.2) 8.83%,
        rgba(255, 255, 255, 0.06) 92.31%
      );
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
    }

    &.skill-pagination-bullet-active {
      color: rgba($color: #fff, $alpha: 1);
    }
  }
}

// swiper wrap
.skill-swiper {
  .swiper-wrapper {
    height: 100%;
  }
  .swiper-slide {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;

    .skill-item {
      padding: 1rem;
    }
  }
}

// 3200
@media screen and (min-width: 3200px) {
  div.skill-pagination-wrap {
    .skill-pagination-bullet {
      padding: 1.5rem 6rem;
      font-size: 2rem;
    }
  }
}
