* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Pretendard';
  font-size: 16px;

  overflow: hidden;
}

//
.title-01 {
  font-family: 'Butler';
  font-weight: 500;
  font-style: normal;
  font-size: 10rem;
  color: var(--color-white);
}
