* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Pretendard';
  font-size: 16px;

  overflow: hidden;
}

/* ======================================== media query ======================================== */
// 3200
@media screen and (min-width: 3200px) {
  body {
    font-size: 32px;
  }
}

// 뷰포트의 가로너비가 1025px 이상인 경우 적용 : 데스크탑 환경
@media screen and (min-width: 1025px) {
}

// 뷰포트의 가로너비가 769px 이상 1024px 이하 : 태블릿 환경
@media screen and (min-width: 769px) and (max-width: 1024) {
}

// 뷰포트의 가로너비가 768px 이하인 경우 적용 : 모바일 환경
@media screen and (min-width: 768px) {
}

// 장치가 가로 방향인 경우 적용
@media (orientation: landscape) {
}

// 장치가 세로 방향인 경우 적용
@media (orientation: portrait) {
}
