.glass_card_wrap {
  padding: 2rem;
  overflow: hidden;
  border-radius: 10px;

  border: 1px solid transparent;
  color: #fff;

  transition: all 0.3s;

  cursor: pointer;

  &:hover {
    background: linear-gradient(
      121deg,
      rgba(227, 163, 163, 0.2) 8.83%,
      rgba(255, 255, 255, 0.06) 92.31%
    );
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

  &:active {
    background-color: #fff;
    color: black;
  }

  .title {
    margin-bottom: 0.5rem;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 900;
  }
  .subTitle {
    margin-bottom: 2.5rem;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .description {
    white-space: nowrap;
    font-size: 1rem;
  }
}

@media screen and (min-width: 3200px) {
  .glass_card_wrap {
    padding: 4rem;

    .title {
      font-size: 4rem;
    }
    .subTitle {
      font-size: 3rem;
    }
    .description {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 0) and (max-width: 500px) {
  .glass_card_wrap {
    .title {
      font-size: 1.5rem;
    }
    .subTitle {
      font-size: 1.3rem;
    }
    .description {
      font-size: 1rem;
    }
  }
}
