.open-btn {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translate(-50%, -50%);
  padding: 0.7rem;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  z-index: 99;

  transition: all 0.3s;

  &.hide {
    opacity: 0;
  }

  &:hover {
    right: 1.2rem;
  }

  &:active {
    border: 1px solid #fff;
    background-color: #fff;
  }
}

.nav-side-right {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  // background-color: rgba($color: #000000, $alpha: 0.7);

  z-index: 100;
}

.nav-list-wrap {
  // $
  $text-color: #000;
  $bg-color: #fff;
  // -
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;

  border-left: 1px solid rgba($color: $bg-color, $alpha: 0.3);
  background-color: $bg-color;
  box-shadow: -10px 0px 10px 1px rgba($color: #000, $alpha: 0.3);

  animation-duration: 0.7s;
  // animation-timing-function: ease-in-out;

  z-index: 101;
  ul {
    li {
      .nav-text-wrap {
        display: block;
        position: relative;
        padding: 1rem;

        .nav-text {
          position: relative;
          font-family: 'Butler';
          font-size: 1.5rem;
          color: rgba($color: $text-color, $alpha: 0.3);
          transition: all 0.4s;
          &::after {
            content: '';
            display: inline-block;
            width: 0;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -2px;
            background-color: #000;
            border-radius: 10%;
            transition: all 0.4s;
          }
          &.isOn {
            color: $text-color;
          }
        }

        &:hover {
          .nav-text {
            color: $text-color;
          }

          & .nav-text::after {
            width: 100%;
          }
        }
      }
    }
  }

  .bottom-list {
    span {
      padding: 0.5rem;
      color: rgba($color: #000000, $alpha: 0.5);
      transition: all 0.3s;

      cursor: pointer;

      &:hover {
        color: #000;
      }
      &:active {
        color: #000;
      }
    }
  }
}
